{{!-- ok --}}

<div class="jumbotron text-center">
    <h1 class="display-4">
        Welcome to Strain Finder!
    </h1>
    <p class="lead">Your trusted source for cannabis information and news!</p>
</div>
{{!-- <div class="container">
{{#each strains}}
    <div class="row">
        <div class="col-md-6 m-auto d-inline justify-content-between">

            <ul class="list-group mb-5">
                <li class="list-group-item bg-success">
                    <h1>{{@key}}</h1>
                </li>
                <li class="list-group-item"><strong>Race: </strong>{{this.race}}</li>
                <li class="list-group-item"><strong>Flavors: </strong>{{this.flavors}}</li>
                <li class="list-group-item"><strong>Positive Effects: </strong>{{effects.positive}}</li>
                <li class="list-group-item"><strong>Negative Effects: </strong>{{effects.negative}}</li>
                <li class="list-group-item"><strong>Medical Effects: </strong>{{effects.medical}}</li>
            </ul>
        </div>
    </div>
</div>
{{/each}} --}}



{{!-- <div class="container">

    <div class="row">
        <div class="card-wrapper">
        <div class="col-md">
            {{#each strains}}
            <div class="card m-auto mb-5" style="width: 30rem;">
                <h5 class="card-header display-4 bg-success">{{@key}}</h5>
                <div class="card-body">
                    <h4 class="card-text"><strong>Race: </strong>{{this.race}}</h4>
                    <p class="card-text lead"><strong>Flavors: </strong>{{this.flavors}}</p>
                    <p class="card-text lead"><strong>Positive Effects: </strong>{{effects.positive}}</p>
                    <p class="card-text lead"><strong>Negative Effects: </strong>{{effects.negative}}</p>
                    <p class="card-text lead"><strong>Medical Effects: </strong>{{effects.medical}}</p>
            </div>
            </div>
            <br />
        </div>
        {{/each}}
    </div>
    </div>
</div> --}}

    {{!-- <div class="row">
{{#each strains}}
        <div class="col-md">
            <div class="card" style="width:30rem;">
                <h5 class="card-header display-4 bg-success">{{@key}}</h5>
                <div class="card-body">
                    <h4 class="card-text"><strong>Race: </strong>{{this.race}}</h4>
                    <p class="card-text lead"><strong>Flavors: </strong>{{this.flavors}}</p>
                    <p class="card-text lead"><strong>Positive Effects: </strong>{{effects.positive}}</p>
                    <p class="card-text lead"><strong>Negative Effects: </strong>{{effects.negative}}</p>
                    <p class="card-text lead"><strong>Medical Effects: </strong>{{effects.medical}}</p>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
{{/each}} --}}





{{!-- 
{{#each news}}
<div>{{@key}} | {{this}}</div>
{{/each}} --}}

<div class="card-columns">
  <div class="card">
    <img src="/img/canna1.jpeg" class="card-img-top" alt="...">
    {{!-- <div class="card-body">
      <h5 class="card-title">Card title that wraps to a new line</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div> --}}
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">
      <p>Prison is for rapists, thieves, and murderers. If you lock someone up for smoking a plant that makes them happy, then you’re the fucking criminal.
</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Joe Rogan
        </small>
      </footer>
    </blockquote>
  </div>
  <div class="card">
    <img src="/img/canna2.jpeg" class="card-img-top" alt="...">
    {{!-- <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div> --}}
  </div>
  {{!-- <div class="card bg-primary text-white text-center p-3">
    <blockquote class="blockquote mb-0">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat.</p>
      <footer class="blockquote-footer text-white">
        <small>
          Someone famous in <cite title="Source Title">Source Title</cite>
        </small>
      </footer>
    </blockquote>
  </div> --}}
  {{!-- <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has a regular title and short paragraphy of text below it.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div> --}}
  <div class="card">
    <img src="/img/canna3.jpeg" class="card-img-top" alt="...">
  </div>
  <div class="card p-3 text-right">
    <blockquote class="blockquote mb-0">
      <p>Why is marijuana against the law—It grows naturally upon our planet. Doesn’t the idea of making nature against the law seem to you a bit…unnatural?</p>
      <footer class="blockquote-footer">
        <small class="text-muted">
          Bill Hicks
        </small>
      </footer>
    </blockquote>
  </div>
  
</div>