{{!-- Search --}}
{{!-- {{#each strain}}
<div class="container">
    <div class="jumbotron" style="background-color: rgb(0, 255, 0) !important;">
        <h1 class="display-4">
            <h1 class="display-4">
                {{this.name}}
            </h1>
            <p class="lead"> {{this.race}}</p>
            <p> {{this.desc}}</p>



    </div>

</div>
{{/each}} --}}

<div class="container">
    <div class="row">
        <div class="col">
                {{#each strain}}
            <div class="card m-auto" style="width:36rem;">
                <h5 class="card-header display-4 text-white bg-secondary">{{this.name}}</h5>
                <div class="card-body">
                    <h4 class="card-text"><strong>{{this.race}}</strong></h4>
                    <p class="card-text lead">{{this.desc}}</p>
                </div>
            </div>
            <br />
        </div>
    </div>
</div>
{{/each}}